
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
             
                    <h1>CARRITO</h1>
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i> INICIO</a></li>
                        <li class="active">CARRITO</li>
                      </ol>
                </div>
        </div>
    </div>
</div>
<div class="cart-area mt-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- cart table start -->
                <div class="table-responsive">
                    <table class="table-bordered table">
                        <thead>
                            <tr>
                                <!-- product img title -->
                                <th class="item-img">Product</th>
                                <!-- product name title -->
                                <th class="product-name">description</th>
                                <!-- stock status -->
                                <th class="stock text-center">Availability</th>
                                <!-- unit price title -->
                                <th class="unit-price text-right"> unit Price</th>
                                <!-- quantity -->
                                <th class="quantity text-center">Quantity</th>
                                <!-- remove button -->
                                <th class="remove-icon text-center"></th>
                                <!-- unit price title -->
                                <th class="total-price text-right"> total Price</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <!-- product img end -->
                                <td class="item-img">
                                    <a href="single-product.html">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                </td>
                                <!-- product img end -->
                                <!-- product name start -->
                                <td class="cart-product-name text-left">
                                    <a href="single-product.html">Skmei Luxury Brand Mens Sports Watches Dive 50m Digital LED</a>
                                    <p>SKU : demo_33</p>
                                    <p>Size : S, Color : Yellow</p>
                                </td>
                                <!-- product name end -->
                                <!-- stock status start -->
                                <td class="stock">
                                    <span>in stock</span>
                                </td>
                                <!-- stock status end -->
                                <!-- price start -->
                                <td class="unit-price text-right">
                                    <span>$28.98</span>
                                </td>
                                <!-- price end -->
                                <!-- quantity start -->
                                <td class="quantity">
                                        <input class="" type="text" name="qtybutton" value="1">
                                </td>
                                <!-- quantity end -->
                                <!-- remove icon start -->
                                <td class="remove-icon">
                                    <button> <i class="fa fa-trash"></i> </button>
                                </td>
                                <!-- remove icon end -->
                                <!-- price start -->
                                <td class="unit-price text-right">
                                    <span>$28.98</span>
                                </td>
                                <!-- price end -->
                            </tr>
                            <tr>
                                <!-- product img end -->
                                <td class="item-img">
                                    <a href="single-product.html">
                                        <img src="img\products\1.jpg" alt="">
                                    </a>
                                </td>
                                <!-- product img end -->
                                <!-- product name start -->
                                <td class="cart-product-name text-left">
                                    <a href="product-details.htm">Special sales Cotton stretch Men T shirt men's o-neck short-sleeve</a>
                                    <p>SKU : demo_33</p>
                                    <p>Size : S, Color : Yellow</p>
                                </td>
                                <!-- product name end -->
                                <!-- stock status start -->
                                <td class="stock">
                                    <span>in stock</span>
                                </td>
                                <!-- stock status end -->
                                <!-- price start -->
                                <td class="unit-price text-right">
                                    <span>$27.00</span>
                                </td>
                                <!-- price end -->
                                <!-- quantity start -->
                                <td class="quantity">
                                    <input class="" type="text" name="qtybutton" value="1">
                                </td>
                                <!-- quantity end -->
                                <!-- remove icon start -->
                                <td class="remove-icon">
                                    <button> <i class="fa fa-trash"></i> </button>
                                </td>
                                <!-- remove icon end -->
                                <!-- price start -->
                                <td class="unit-price text-right">
                                    <span>$27.00</span>
                                </td>
                                <!-- price end -->
                            </tr>
                        </tbody>
                        <tfoot class="text-right">
                            <tr>
                                <td colspan="3" rowspan="3"></td>
                                <td colspan="3"> <strong> Total products</strong></td>
                                <td colspan="1">$55.98</td>
                            </tr>
                            <tr>
                                <td colspan="3"><strong>Total shipping</strong></td>
                                <td colspan="1">$7.00</td>
                            </tr>
                            <tr>
                                <td colspan="3"><strong>Total</strong></td>
                                <td colspan="1">$62.98</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- cart table end -->
                <div class="buttons mt-20">
                    <a href="#" class="stock"> <span><i class="fa fa-angle-left"></i> continue shopping</span></a>
                    <a href="checkout.htm" class="stock"> <span> proceed to checkout <i class="fa fa-angle-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
