<div class="container-fluid bg-black mt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white text-center p-5">
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="breadcrumb-title text-white">POLÍTICA DE COOKIES</h1>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i> INICIO</a></li>
                        <li class="active">POLÍTICA DE COOKIES</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <h5>¿QUÉ SON LAS COOKIES?</h5>
                     <p class="text-justify">CARTUCHEA CONSUMIBLES, le informa que los datos de los usuarios que se faciliten en la Web, se alojan en un servidor español.</p>
                     <p class="text-justify"> Las cookies y otras tecnologías similares tales como local shared objects, flash cookies o píxeles, son pequeños archivos que algunas plataformas, como las páginas web, pueden instalar en el equipo del usuario (ordenador, tablet, smartphone, etc.).</p>
                     <p class="text-justify">Sus funciones pueden ser muy variadas: almacenar tus preferencias de navegación, recopilar información estadística, permitir ciertas funcionalidades técnicas… </p>
                     <p class="text-justify">En ocasiones, las cookies se utilizan para almacenar información básica sobre los hábitos de navegación del usuario o de su equipo, hasta el punto, según los casos, de poder reconocerlo. </p>
                     <p class="text-justify">Las cookies son útiles por varios motivos. Desde un punto de vista técnico, permiten que las páginas web funcionen de forma más ágil y adaptada a tus preferencias, como por ejemplo almacenar tu idioma o la moneda de tu país. </p>
                     <p class="text-justify"> Además, ayudan a los responsables de los sitios web a mejorar sus servicios, gracias a la información estadística que recogen a través de ellas.</p>
                     <p class="text-justify"> Finalmente, sirven para hacer más eficiente la publicidad que te mostramos, gracias a la cual te podemos ofrecer nuestros servicios de forma gratuita.</p>
                     <p class="text-justify"> Para obtener más información sobre cookies, visite Your Online Choices España o http://www.allaboutcookies.org/es/</p>
                    <h5>COOKIES AFECTADAS POR LA NORMATIVA Y COOKIES EXCEPTUADAS</h5>
                     <p class="text-justify">Con la modificación de la “Ley de Servicios de la Sociedad de la Información” (LSSICE) establecida por el Real Decreto 13/2012, es de obligación obtener el consentimiento expreso del usuario de todas las páginas web que usan cookies prescindibles, antes de que éste navegue por ellas </p>
                     <p class="text-justify"> Las cookies que requieren el consentimiento informado por parte del usuario son las cookies de analítica y las de publicidad y afiliación, quedando exceptuadas las de carácter técnico y las necesarias para el funcionamiento del sitio web o la prestación de servicios expresamente solicitados por el usuario.</p>
                     <h5>¿QUÉ TIPOS DE COOKIES EXISTEN?</h5>
                     <p class="text-justify"> Existen diferentes tipos de cookies.</p>
                     <p class="text-justify">En un primer nivel podemos diferenciar entre: </p>
                     <p class="text-justify">- Cookies propias: Pertenecen y son gestionadas por el propietario del sitio web. </p>
                     <p class="text-justify">- Cookies de terceros: Pertenecen y son gestionadas por terceros, ajenos al propietario. </p>
                     <p class="text-justify">Las cookies pueden ser de “sesión “, por lo que se borrarán una vez el usuario abandone la página web que las generó o “persistentes “, que permanecen en su ordenador un tiempo programado que puede alcanzar años. </p>
                     <p class="text-justify"> Además, las cookies son clasificables atendiendo a la finalidad con que fueron creadas:</p>
                     <p class="text-justify">- Cookies técnicas y funcionales: son las estrictamente necesarias para el uso del site y para la prestación del servicio. </p>
                     <p class="text-justify">- Cookies analíticas: Utilizamos cookies analíticas para ayudarnos a comprender qué uso hacen los usuarios de nuestra web. Por ejemplo, nos sirven para contar el número de personas diferentes que visitan nuestra web o que utilizan una característica en concreto, en lugar del número total de veces que se utiliza la web o la característica. Sin esta cookie, si usted visita la web una vez por semana durante tres semanas, le contaríamos como tres usuarios independientes. Sin estas cookies, nos resultaría muy difícil analizar el rendimiento de nuestra web y mejorarla. </p>
                     <p class="text-justify">- Cookies de personalización: permiten al usuario configurar el diseño, idioma, preferencias, etc. de su navegador. </p>
                     <p class="text-justify">- Cookies publicitarias y comportamentales: se usan para llevar a cabo una gestión eficaz de los espacios publicitarios que se han incluido en una web o aplicación desde la que se presta el servicio. Resultan útiles para adecuar la publicidad ofrecida a los intereses de los usuarios, ya que recogen información sobre sus preferencias. Son las que se utilizan en técnicas de marketing como el retargeting. </p>
                     <p class="text-justify">- Cookies de afiliados: realizan el seguimiento de las visitas procedentes de webs con las que un site ha establecido un contrato de afiliación. </p>
                     <p class="text-justify">- Cookies de interacción social: Utilizamos las cookies para permitirle compartir contenido directamente en las redes sociales, como Facebook, Twitter, Instagram etc… Un ejemplo sería cuando usted hace clic en “me gusta” o “tuitea” sobre un negocio o producto anunciado en nuestra web. </p>
                     <p class="text-justify"> Cookies propias que utiliza nuestra web,</p>
                     <p class="text-justify">Nombre | Proveedor | Propósito | Caducidad </p>
                     <p class="text-justify">cookie-agreed | | Saber si por ejemplo el usuario ha aceptado la advertencia de las cookies. | 3 meses </p>
                     <p class="text-justify">Cookies de terceros que utiliza nuestra web, </p>
                     <p class="text-justify"> Nombre | Proveedor | Propósito | Caducidad</p>
                     <p class="text-justify"> _ga | google-analytics.com | Registra una identificación única que se utiliza para generar datos estadísticos acerca de cómo utiliza el visitante el sitio</p>
                     <p class="text-justify"> web | 2 años</p>
                     <p class="text-justify">_gid | google-analytics.com | Registra una identificación única que se utiliza para generar datos estadísticos acerca de cómo utiliza el visitante el sitio </p>
                     <p class="text-justify"> web | 1 día</p>
                     <p class="text-justify"> _gat | google-analytics.com | Se usa para limitar el porcentaje de solicitudes | Cookie de sesión</p>
                     <h5>COMO ELIMINAR LAS COOKIES DEL NAVEGADOR</h5>
                     <p class="text-justify"> 1. Usted puede restringir, bloquear o borrar las cookies de nuestra web (o de cualquier otra), utilizando su navegador. En cada navegador la operativa es diferente. La función de ‘Ayuda’ le mostrará cómo hacerlo.</p>
                     <p class="text-justify"> 2. Mediante herramientas de terceros, como Ghostery o Your online choices.</p>
                     <p class="text-justify">El hecho de desactivar el uso de cookies en nuestro sitio web puede disminuir la funcionalidad del mismo, producir limitaciones en la navegación o, en determinados casos, impedir incluso dicha navegación. </p>
                    
</div>
                </div>
               
            </div>
            <div class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 sm-mt-30 xs-mt-30">
                <!-- sidebar start -->
                <div class="sidebar">
                    <!-- categories start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">categories</h3>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="dresses" id="dresses">
                            <label for="dresses">dresses (9)</label>
                        </div>
                        <div class="input-box">                                
                            <input type="checkbox" name="category" value="handbags" id="handbags"> 
                            <label for="handbags">handbags (9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="shoes" id="shoes"> 
                            <label for="shoes">shoes (9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="clothing" id="clothing"> 
                            <label for="clothing">clothing (9)</label>
                        </div>
                    </div>
                    <!-- categories end -->

                    <!-- Availability start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Availability</h3>
                        <div class="input-box">
                            <input type="checkbox" name="instock" value="instock" id="stock"> 
                            <label for="stock">in stock (9)</label>
                        </div>
                    </div>
                    <!-- Availability end -->

                    <!-- conditions start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">conditions</h3>
                        <div class="input-box">  
                            <input type="checkbox" name="new" value="new" id="new">
                            <label for="new"> new (9)</label>
                        </div>
                    </div>
                    <!-- conditions end -->

                    <!-- Manufacturer start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Manufacturer</h3>
                        <div class="input-box">
                            <input type="checkbox" name="FashionManufacturer" value="FashionManufacturer" id="manufac"> 
                            <label for="manufac">Fashion Manufacturer (9)</label>
                        </div>
                    </div>
                    <!-- Manufacturer end -->

                    <!-- Price start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Price</h3>
                        <div class="price-slider-amount">
                            Range: <input type="text" id="amount" name="price" placeholder="Add Your Price">
                        </div>
                        <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>
                    </div>
                    <!-- Price end -->

                    <!-- size start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">size</h3>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="small" id="small">
                            <label for="small"> s(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="medium" id="medium">
                            <label for="medium"> m(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="large" id="large">
                            <label for="large">l(9)</label>
                        </div>
                    </div>
                    <!-- size end -->

                    <!-- color start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">color</h3>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="black" id="black">
                            <label for="black">black(5)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="orange" id="orange">
                            <label for="orange">orange(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="blue" id="blue">
                            <label for="blue">blue(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="yellow" id="yellow">
                            <label for="yellow"> yellow(5)</label>
                        </div>
                    </div>
                    <!-- color end -->
                </div>
                <!-- sidebar end -->

                <!-- top seller items start -->
                <div class="row">
                    <div class="col-md-12 mt-40">
                        <!-- section title start -->
                        <div class="section-heading">
                            <h2> <img src="img\icon\icon_title_topseller.png" alt=""> top seller</h2>
                        </div>
                        <!-- section title start -->
                        <!-- new arrival start -->
                        <div class="new-arrival-items style-2 grey-bordered mt-30 owl-carousel owl-theme owl-loaded owl-text-select-on">

                            <!-- list items start -->
                            
                            <!-- list items start -->

                            <!-- list items start -->
                            
                            <!-- list items start -->

                            <!-- list items start -->
                            
                            <!-- list items start -->

                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-536px, 0px, 0px); transition: all 0s ease 0s; width: 1876px;"><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\42.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\48.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\37.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\21.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item active" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\1.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\2.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\35.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\23.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\42.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\48.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\37.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\21.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\1.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\2.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\35.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\23.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
                        <!-- new arrival end -->
                    </div>
                </div>
                <!-- top seller items end -->
            </div>
        </div>
    </div>
</div>

