<div class="container-fluid mt-5 bg-green">
    <div class="container">
        <div class="row g-5">
            <div class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card text-white card-border">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img class="rounded-start img-fluid object-cover" src="/assets/images/icon_coste.png"
                                alt="Card image">
                        </div>
                        <div class="col-md-9">
                            <div class="card-header">
                                <h5 class="card-title mb-0 text-white">Menor coste por copia</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text mb-2">Conseguirás el menor coste por copia con nuestros consumibles,
                                    ya que tienen más tinta y son más económicos que los originales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card text-white card-border">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img class="rounded-start img-fluid object-cover" src="/assets/images/icon_recycle_2.png"
                                alt="Card image">
                        </div>
                        <div class="col-md-9">
                            <div class="card-header">
                                <h5 class="card-title mb-0 text-white">Cartuchea y ahorra</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text mb-2">Recicla tus consumibles con nosotros y recibe dinero por
                                    ellos. Y si vives en Alicante pásate por cualquiera de nuestras tiendas y recarga
                                    tus cartuchos al instante.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card text-white card-border">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img class="rounded-start img-fluid object-cover" src="/assets/images/icon_garantia.png"
                                alt="Card image">
                        </div>
                        <div class="col-md-9">
                            <div class="card-header">
                                <h5 class="card-title mb-0 text-white">Cartuchos que funcionan</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text mb-2">Todos nuestros pedidos se sirven por agencia de transporte con
                                    servicio 24 horas en toda España y en el mismo día en Alicante. El envío es gratuito
                                    para pedidos superiores a 29€.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card text-white">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img class="rounded-start img-fluid object-cover" src="/assets/images/icon_entrega.png"
                                alt="Card image">
                        </div>
                        <div class="col-md-9">
                            <div class="card-header">
                                <h5 class="card-title mb-0 text-white">¡Mañana lo tienes... y gratis!</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text mb-2">Conseguirás el menor coste por copia con nuestros consumibles,
                                    ya que tienen más tinta y son más económicos que los originales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container mt-5">
        <div class="row g-5">
            <div class="col-6 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 g-5">
                <ul class="nav flex-column ">
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/sobre-cartuchea']">Sobre Cartuchea</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/cartucheayahorra']">Programa «Cartuchea y
                            Ahorra»</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/envios']">Envíos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/mi-cuenta']">Mi cuenta</a>
                    </li>

                </ul>
            </div>
            <div class="col-6 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <ul class="nav flex-column ">
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/aviso-legal']">Aviso Legal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/politica-de-privacidad']">Política de Privacidad
                            Ahorra»</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/politica-de-cookies']">Política de Cookies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/terminos-y-condiciones']">Términos y
                            Condiciones</a>
                    </li>

                </ul>
            </div>
            <div class="col-6 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <ul class="nav flex-column ">
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/cat/cartuchos-de-tinta']">Cartuchos de Tinta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/cat/toner']">Tóner
                            Ahorra»</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/cat/impresoras']">Impresoras</a>
                    </li>

                </ul>
            </div>
            <div class="col-6 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <ul class="nav flex-column ">
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/cat/informatica']">Informática</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/cat/papeleria']">Papelería
                            Ahorra»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row g-5">
            <div class="col-6 col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title mb-2 text-white">Formas de pago:</h3>
                    </div>
                    <img class="card-img-bottom img-fluid" src="assets/images/payment-icons_2.png"
                        alt="Payment Methods">
                </div>
            </div>
            <div class="col-6 col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title mb-2 text-white">Envíos:</h3>
                    </div>
                    <img class="card-img-bottom img-fluid" src="assets/images/ship-icons_2.png" alt="Payment Methods">
                </div>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title mb-2 text-white">Redes Sociales:</h3>
                    </div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a rel="no-follow" class="nav-link text-white"
                                [routerLink]="['https://www.facebook.com/Cartuchea-104297464679480']"><i
                                    class="ri-facebook-fill ri-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a rel="no-follow" class="nav-link text-white"
                                [routerLink]="['https://www.instagram.com/cartucheayahorra']"><i
                                    class="ri-instagram-line ri-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a rel="no-follow" class="nav-link text-white"
                                [routerLink]="['https://www.youtube.com/channel/UCc2zgk96OiBOHOKUh2MFaQQ']"><i
                                    class="ri-youtube-line ri-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a rel="no-follow" class="nav-link text-white"
                                [routerLink]="['https://api.whatsapp.com/send?phone=+34644913812']"><i
                                    class="ri-whatsapp-line ri-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="container-fluid copyright-bg p-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 text-white p-2">
                CARTUCHEA Y AHORRA  {{currentYear }} Todos los precios incluyen IVA
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 p-2">
                <div class="text-sm-end text-white">
                    Design &amp; Develop by <a class="text-white" [routerLink]="['mailto:springapidev@gmail.com']">Mohammad Rajaul Islam</a> 
                </div>
            </div>
        </div>
    </div>

</div>