<footer class="footer-area mt-40">
    <div class="newsletter-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="newsletter-title">
                        <h2>Sign Up for Newsletters</h2>
                        Get e-mail updates about our latest shop and special offers.
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 xs-mt-20">
                    <div class="newsletter-form">
                        <form action="#" method="POST">
                            <input type="email" placeholder="enter your email">
                            <button type="submit">subscribe !</button>
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="pt-40"></div>

            <div class="row">
                <div class="col-md-3 col-sm-6 sm-mt-40 xs-mt-40">                     
                    <div class="footer-info  footer-info-border">
                        <div class="img2">
                            <img src="assets/img/public-footer-icons/icon_coste.png" alt="icon_coste">
                        </div>
                        <div class="footer-info-content">
                            <h3>Menor coste por copia</h3>
                            Conseguirás el menor coste por copia con nuestros consumibles, ya que tienen más tinta y son más económicos que los originales.
                        </div>
                    </div>
                   </div>
                   <div class="col-md-3 col-sm-6 sm-mt-40 xs-mt-40">                       
                    <div class="footer-info  footer-info-border">
                        <div class="img2">
                            <img src="assets/img/public-footer-icons/icon_recycle_2.png" alt="icon_recycle_2">
                        </div>
                        <div class="footer-info-content">
                            <h3>Cartuchea y ahorra</h3>
                            Recicla tus consumibles con nosotros y recibe dinero por ellos. Y si vives en Alicante pásate por cualquiera de nuestras tiendas y recarga tus cartuchos al instante.
                        </div>
                    </div>
                   </div>
                   <div class="col-md-3 col-sm-6 sm-mt-40 xs-mt-40">                      
                    <div class="footer-info  footer-info-border">
                        <div class="img2">
                            <img src="assets/img/public-footer-icons/icon_garantia.png" alt="icon_garantia">
                        </div>
                        <div class="footer-info-content">
                            <h3>Cartuchos que funcionan</h3>
                            Nuestros productos son fabricados con unos controles de calidad muy elevados y tu impresora no pierde su garantía utilizándolos. Además, cuentas con tres años de garantía y servicio técnico online gratuito.
                        </div>
                    </div>
                   </div>
                   <div class="col-md-3 col-sm-6 sm-mt-40 xs-mt-40">                      
                    <div class="footer-info">
                        <div class="img2">
                            <img src="assets/img/public-footer-icons/icon_entrega.png" alt="icon_entrega">
                        </div>
                        <div class="footer-info-content">
                            <h3>¡Mañana lo tienes... y gratis!</h3>
                            Todos nuestros pedidos se sirven por agencia de transporte con servicio 24 horas en toda España y en el mismo día en Alicante. El envío es gratuito para pedidos superiores a 29€.
                        </div>
                    </div>
                   </div>
               </div>
        </div>
    </div>
    
       <div class="footer-widget-area">
   
           <div class="container">
               <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 sm-mt-40 xs-mt-40">                     
                       <div class="widget-menu">
                     
                           <a [routerLink]="['/sobre-cartuchea']">Sobre Cartuchea</a>
                           <a [routerLink]="['/cartucheayahorra']">Programa «Cartuchea y Ahorra»</a>
                           <a [routerLink]="['/envios']">Envíos</a>
                           <a [routerLink]="['/mi-cuenta']">Mi cuenta</a>    
                       </div>
                   </div>
                   <div class="col-md-3 col-sm-6 col-xs-6 sm-mt-40 xs-mt-40">                       
                       <div class="widget-menu">
                           <a [routerLink]="['/aviso-legal']">Aviso Legal</a>
                           <a [routerLink]="['/politica-de-privacidad']">Política de Privacidad</a>
                           <a [routerLink]="['/politica-de-cookies']">Política de Cookies</a>
                           <a [routerLink]="['/terminos-y-condiciones']">Términos y Condiciones</a>                           
                       </div>
                   </div>
                   <div class="col-md-3 col-sm-6 col-xs-6 sm-mt-40 xs-mt-40">                      
                       <div class="widget-menu">
                           <a [routerLink]="['/cat/cartuchos-de-tinta']">Cartuchos de Tinta</a>
                           <a [routerLink]="['/cat/toner']">Tóner</a>
                           <a [routerLink]="['/cat/impresoras']">Impresoras</a>                          
                       </div>
                   </div>
                   <div class="col-md-3 col-sm-6 col-xs-6 sm-mt-40 xs-mt-40">                      
                       <div class="widget-menu">
                           <a [routerLink]="['/cat/informatica']">Informática</a>
                           <a [routerLink]="['/cat/papeleria']">Papelería</a>                           
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="container">
        <div class="footer-bottom-area">
            <div class="row">
                <div class="col-md-4 col-sm-12 sm-mt-40 text-left xs-mt-40">
                    <div class="text-left">
                        <h5>Formas de pago:</h5>
                    </div>
                  <img src="/assets/img/public-footer-icons/payment-icons_2.png" alt=""/>
                </div>
                <div class="col-md-4 col-sm-12 sm-mt-40 text-left xs-mt-40">
                    <div class="custom-widget-title">
                        <h5>Envíos:</h5>
                    </div>
                    <img src="/assets/img/public-footer-icons/ship-icons_2.png" alt=""/>
                </div>
                <div class="col-md-4 col-sm-12 sm-mt-40 text-left xs-mt-40">
                    <div class="custom-widget-title">
                        <h5>Redes Sociales:</h5>
                        <div class="social-icons text-left">
                            <a href="https://www.facebook.com/Cartuchea-104297464679480" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/cartucheayahorra/" target="_blank"><i class="fa fa-instagram"></i></a>
                         
                            <a href="https://www.youtube.com/channel/UCc2zgk96OiBOHOKUh2MFaQQ/" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="https://api.whatsapp.com/send?phone=+34644913812" target="_blank"><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
  
       <div class="container">
        
               <div class="row">
                   <div class="col-12">
                       <div class="footer-copyright text-center">
                           Copyright &copy; <a href="https://www.cartuchea.com">CARTUCHEA Y AHORRA  2023. Todos los precios incluyen IVA</a>
                       </div>
                   </div>
                   
               </div>
           </div>

    
   </footer>
   