<div class="container-fluid bg-black mt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white text-center p-5">
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="breadcrumb-title text-white">MI CUENTA</h1>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i> INICIO</a></li>
                        <li class="active">MI CUENTA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="account-area mt-40">
    <div class="container">
        <div class="row mt-40 p-5 justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-6 p-3 ">
                <div class="d-grid">
                    <p>¿Perdiste tu contraseña? Por favor, introduce tu nombre de usuario o correo electrónico. Recibirás un enlace para crear una contraseña nueva por correo electrónico.</p>
                    
                </div>
                <form action="">
                    <div class="mb-3">
                        <label for="email" class="form-label">Nombre de usuario o correo electrónico</label>
                        <input type="email" class="form-control rounded-input" id="email"
                            placeholder="Enter Email Address">
                    </div>

                  
                    <div class="d-grid">
                        <button type="submit" class="btn btn-green text-white">Restablecer contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>