<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
             
                    <h1>POLÍTICA DE PRIVACIDAD</h1>
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i> INICIO</a></li>
                        <li class="active">POLÍTICA DE PRIVACIDAD</li>
                      </ol>
                </div>
        </div>
    </div>
</div>

<div class="pt-40">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                     <p class="text-justify">CARTUCHEA CONSUMIBLES, le informa que los datos de los usuarios que se faciliten en la Web, se alojan en un servidor español.</p>
                     <p class="text-justify">A través de nuestra página web puede acceder a redes sociales, de acceso abierto a todos los usuarios. Se trata de sitios web donde el usuario puede registrarse y seguirnos gratuitamente. En éstas redes sociales los usuarios podrán conocer de nuestras actividades, opiniones, acceder a las fotos y en su caso videos. Los usuarios de estas redes sociales deben ser conscientes de que este lugar es independiente de la web CARTUCHEA CONSUMIBLES y está abierto, es decir, es visible para todos sus usuarios, y las políticas de privacidad a aplicar a estos contenidos son fijadas por esas redes sociales y CARTUCHEA CONSUMIBLES no es titular de dichas redes sociales. </p>
                     <p class="text-justify">Los datos de carácter personal que nos facilita de forma voluntaria se incluirán en nuestro fichero automatizado, de conformidad con el Reglamento General de Protección de Datos de Carácter Personal (RGPD 679/16 EU) y la Ley Orgánica de Protección de Datos y los Derechos Digitales (Lopdgdd 3/18). </p>
                     <p class="text-justify">La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad atender a su consulta/petición que el usuario plantea mediante el formulario habilitado a tal efecto. </p>
                     <p class="text-justify">Los destinatarios de esta información únicamente serán los departamentos en los que se organiza CARTUCHEA CONSUMIBLES y entes colaboradores oportunos para el desempeño de sus atribuciones y objeto social, así como la cesión a los estamentos oficiales públicos o privados que lo exijan por Ley. </p>
                     <p class="text-justify">En el formulario destinado a contactar con nosotros todos los campos que son obligatorios para dicha finalidad, lo indican expresamente, con la leyenda “campo obligatorio”. </p>
                     <p class="text-justify">Cuando se produce una compra vía web, uno de los Derechos que ampara al Consumidor es el Derecho de Desistimiento, el mismo se encuentra regulado en el art. 68 y ss del RD Ley 1/2007 16 noviembre por el que se aprueba el Texto Refundido de la Ley General para la defensa de los consumidores y usuarios y otras leyes complementarias, CARTUCHEA CONSUMIBLES responderá de forma inmediata al ejercicio de dicho Derecho por parte de un consumidor en el plazo establecido. </p>
                     <p class="text-justify"> <a href="http://www.indi.gva.es/es/web/consumo/presentacion-de-reclamaciones-y-quejas" target="_blank" rel="no-follow">Hoja de reclamaciones de la Comunidad Valenciana</a></p>
                     <p class="text-justify"> Asimismo, le informamos de la existencia de una Plataforma de Resolución de Litigios en línea en el ámbito de la Unión Europea a la que tiene posibilidad de recurrir para resolver litigios. http://ec.europa.eu/consumers/odr</p>
                    <h3>¿QUIENES SON LOS RESPONSABLES DEL TRATAMIENTO DE SUS DATOS PERSONALES?</h3>
                     <p class="text-justify"> La identidad y datos de contacto de los corresponsables son los siguientes:</p>
                     <h3>CARTUCHEA CONSUMIBLES</h3>
                     <p class="text-justify"> Calle Músico Pau Casals, 6 03010 Alicante</p>
                     <p class="text-justify">Reglamento General de Protección de Datos de la Unión Europea, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (Reglamento UE 2016/679 de 27 de abril de 2016). </p>
                    <h3>¿CÓMO OBTENEMOS SUS DATOS PERSONALES?</h3>
                     <p class="text-justify"> a) Nos los facilita voluntariamente para solicitar información sobre nuestros productos y servicios contactando con nosotros.</p>
                     <p class="text-justify"> b) Nos los proporciona al realizar la compra de nuestros productos y/o contratación de servicios.</p>
                     <p class="text-justify"> Ud. garantiza que los datos facilitados por cualquiera de estas vías son verdaderos, exactos, completos y actualizados, siendo responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionarse como consecuencia del incumplimiento de tal obligación.</p>
                     <h3>¿CON QUÉ FINALIDAD TRATAMOS SUS DATOS PERSONALES?</h3>
                     <p class="text-justify"> Utilizamos sus datos con distintas finalidades, que encontrará detalladas a continuación:</p>
                     <p class="text-justify"> - Tramitar la compra de un artículo o prestación de un servicio contratado.</p>
                     <p class="text-justify"> - Dar curso y gestionar reclamaciones, así como las solicitudes que Ud. nos pueda realizar por cualquier medio (vía telefónica, nuestra web/micro-sites, vía redes sociales, etc.).</p>
                     <p class="text-justify"> - Utilización de sus datos personales con finalidad comercial, siempre que contemos con su consentimiento expreso e inequívoco.</p>
                    <h3>¿CUÁL ES LA LEGITIMACIÓN PARA EL TRATAMIENTO DE SUS DATOS?</h3>
                     <p class="text-justify">La base legal de cada uno de los tratamientos expuestos es la siguiente: </p>
                     <p class="text-justify"> a) “Ejecución de un contrato”: esta es la base jurídica que nos habilita a realizar los siguientes tratamientos de sus datos de carácter personal:</p>
                     <p class="text-justify"> - Tramitar la compra de un artículo o prestación de un servicio contratado.</p>
                     <p class="text-justify"> - Dar curso y gestionar reclamaciones, así como las solicitudes que Ud. nos pueda realizar por cualquier medio.</p>
                     <p class="text-justify"> b) “Interés legítimo”: utilizamos sus datos para conseguir un interés legítimo (ayudarnos a comprender mejor las necesidades y expectativas de nuestros clientes, lo que nos permita mejorar nuestros productos y el servicio prestado a lo largo de todo el proceso comercial).</p>
                     <p class="text-justify"> c) “Cumplimento de una obligación legal”: Esta es la base jurídica que nos habilita a realizar los siguientes tratamientos de sus datos personales:</p>
                     <p class="text-justify"> -  Atender los requerimientos de Administraciones Públicas, Órganos Judiciales y Fuerzas de Seguridad del Estado.</p>
                     <p class="text-justify"> -  Cumplimiento de obligaciones legales (tributarias, mercantiles, blanqueo de capitales, protección de datos personales, seguridad general de los productos, etc.)</p>
                     <p class="text-justify"> - d) “Consentimiento del interesado”: esta es la base jurídica que nos habilita a realizar los siguientes tratamientos de sus datos de carácter personal:</p>
                     <p class="text-justify"> -  Realizar, por vía postal, telefónica o electrónica, comunicaciones informativas, comerciales y promocionales relativos a los productos y servicios comercializados</p>
                     <p class="text-justify"> - En su caso se podrá -previo informe- elaborar perfiles comerciales en base a la información facilitada por Ud. lo que permitiría poder ofrecerle productos y servicios de acuerdo con sus necesidades/intereses, así como enviarle comunicaciones personalizadas. En ningún caso, se tomarán decisiones automatizadas en base a dicho perfil.</p>
                     <h3>¿A QUÉ DESTINATARIOS SE CEDERÁN SUS DATOS?</h3>
                     <p class="text-justify"> No se cederán datos a terceros salvo obligación legal.</p>
                     <h3>¿POR CUÁNTO TIEMPO CONSERVAREMOS SUS DATOS?</h3>
                     <p class="text-justify"> Sus datos personales serán conservados durante el tiempo necesario para cumplir la finalidad para la cual se recogieron y el necesario para cumplir las obligaciones fiscales/sectoriales.</p>
                     <h3>¿CUÁLES SON SUS DERECHOS CUÁNDO NOS FACILITA SUS DATOS?</h3>
                     <p class="text-justify"> Tiene derecho a:</p>
                     <p class="text-justify"> - Obtener información si están tratando datos personales que le conciernen.</p>
                     <p class="text-justify"> - Acceder a sus datos personales.</p>
                     <p class="text-justify"> - Solicitar la rectificación de los datos inexactos o a que sean completados los incompletos.</p>
                     <p class="text-justify"> - Solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos y dejaremos de tratarlos con esta finalidad.</p>
                     <p class="text-justify"> - Solicitar, en determinadas circunstancias, la limitación del tratamiento de sus datos, en cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones.</p>
                     <p class="text-justify"> - Oponerse al tratamiento de sus datos. Y a no ser objeto de tratamientos automatizados que le puedan influir jurídicamente o de forma similar y que no se obtengan perfiles sobre usted.</p>
                     <p class="text-justify"> - Solicitar la portabilidad de los datos personales que hubiera facilitado.</p>
                     <p class="text-justify"> -  Revocar su consentimiento en relación con los tratamientos basados en el mismo, en cuyo caso dejaremos de tratarlos con esta finalidad.</p>
                     <p class="text-justify"> - Presentar una reclamación ante la Autoridad de Control, especialmente cuando no haya obtenido satisfacción en el ejercicio de sus derechos. </p>
                     <p class="text-justify"> Para ejercitar estos derechos deberá ponerse en comunicación con:</p>
                     <h3>CARTUCHEA CONSUMIBLES</h3>
                     <p class="text-justify"> Calle Músico Pau Casals, 6 03010 Alicante</p>
                     <p class="text-justify"> o bien a la dirección electrónica info@cartuchea.com Concretando su petición y acreditando su identidad adjuntando copia de su DNI, pasaporte u otro documento válido que lo identifique.</p>
                     <p class="text-justify">Última Modificación de esta Política de Privacidad: Junio 2020 </p>
                     <p class="text-justify"> Todos los posibles cambios en nuestra Política de Privacidad serán publicados en este sitio web. Por tanto, le invitamos a revisar el contenido de esta sección de forma periódica.</p>

</div>
                </div>
               
            </div>
            <div class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 sm-mt-30 xs-mt-30">
                <!-- sidebar start -->
                <div class="sidebar">
                    <!-- categories start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">categories</h3>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="dresses" id="dresses">
                            <label for="dresses">dresses (9)</label>
                        </div>
                        <div class="input-box">                                
                            <input type="checkbox" name="category" value="handbags" id="handbags"> 
                            <label for="handbags">handbags (9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="shoes" id="shoes"> 
                            <label for="shoes">shoes (9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="clothing" id="clothing"> 
                            <label for="clothing">clothing (9)</label>
                        </div>
                    </div>
                    <!-- categories end -->

                    <!-- Availability start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Availability</h3>
                        <div class="input-box">
                            <input type="checkbox" name="instock" value="instock" id="stock"> 
                            <label for="stock">in stock (9)</label>
                        </div>
                    </div>
                    <!-- Availability end -->

                    <!-- conditions start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">conditions</h3>
                        <div class="input-box">  
                            <input type="checkbox" name="new" value="new" id="new">
                            <label for="new"> new (9)</label>
                        </div>
                    </div>
                    <!-- conditions end -->

                    <!-- Manufacturer start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Manufacturer</h3>
                        <div class="input-box">
                            <input type="checkbox" name="FashionManufacturer" value="FashionManufacturer" id="manufac"> 
                            <label for="manufac">Fashion Manufacturer (9)</label>
                        </div>
                    </div>
                    <!-- Manufacturer end -->

                    <!-- Price start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Price</h3>
                        <div class="price-slider-amount">
                            Range: <input type="text" id="amount" name="price" placeholder="Add Your Price">
                        </div>
                        <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>
                    </div>
                    <!-- Price end -->

                    <!-- size start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">size</h3>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="small" id="small">
                            <label for="small"> s(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="medium" id="medium">
                            <label for="medium"> m(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="large" id="large">
                            <label for="large">l(9)</label>
                        </div>
                    </div>
                    <!-- size end -->

                    <!-- color start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">color</h3>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="black" id="black">
                            <label for="black">black(5)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="orange" id="orange">
                            <label for="orange">orange(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="blue" id="blue">
                            <label for="blue">blue(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="yellow" id="yellow">
                            <label for="yellow"> yellow(5)</label>
                        </div>
                    </div>
                    <!-- color end -->
                </div>
                <!-- sidebar end -->

                <!-- top seller items start -->
                <div class="row">
                    <div class="col-md-12 mt-40">
                        <!-- section title start -->
                        <div class="section-heading">
                            <h2> <img src="img\icon\icon_title_topseller.png" alt=""> top seller</h2>
                        </div>
                        <!-- section title start -->
                        <!-- new arrival start -->
                        <div class="new-arrival-items style-2 grey-bordered mt-30 owl-carousel owl-theme owl-loaded owl-text-select-on">

                            <!-- list items start -->
                            
                            <!-- list items start -->

                            <!-- list items start -->
                            
                            <!-- list items start -->

                            <!-- list items start -->
                            
                            <!-- list items start -->

                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-536px, 0px, 0px); transition: all 0s ease 0s; width: 1876px;"><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\42.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\48.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\37.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\21.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item active" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\1.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\2.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\35.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\23.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\42.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\48.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\37.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\21.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\1.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\2.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\35.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\23.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
                        <!-- new arrival end -->
                    </div>
                </div>
                <!-- top seller items end -->
            </div>
        </div>
    </div>
</div>

