<div class="container-fluid bg-black mt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white text-center p-5">
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="breadcrumb-title text-white">Informática</h1>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i> INICIO</a></li>
                        <li class="active">Informática</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 p-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
   .........................................
               
            </div>
          
        </div>
    </div>
</div>

