<div class="newsletter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="newsletter-title">
                    <h2>Sign Up for Newsletters</h2>
                    Get e-mail updates about our latest shop and special offers.
                </div>
            </div>
            <div class="col-md-5 col-sm-7 xs-mt-20">
                <div class="newsletter-form">
                    <form action="#" method="POST">
                        <input type="email" placeholder="enter your email">
                        <button type="submit">subscribe !</button>
                    </form>
                </div>
            </div>
            <div class="col-md-3 col-sm-5 xs-mt-20">
                <div class="social-icons text-right">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-rss"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
