<div class="container-fluid bg-black mt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white text-center p-5">
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="breadcrumb-title text-white">CONTACTAR</h1>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i> INICIO</a></li>
                        <li class="active">CONTACTAR</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-40">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sm-mt-40 xs-mt-40">
                <div class="authentication">
                    <div class="border-title">
                        <h3>FORMULARIO DE CONTACTO</h3>
                    </div>
                    <label for="name">Nombre</label>
                    <input type="text" placeholder="Nombre" id="name" name="name">
                    <label for="email">email address</label>
                    <input type="email" placeholder="email address" id="email" name="email">
                    <label for="password">password</label>
                    <input type="password" name="password" placeholder="password" id="password">
                   <input type="checkbox">He leído y acepto las condiciones de la Política de privacidad
              <p class="text-small">CARTUCHEA CONSUMIBLES tratará sus datos personales para dar respuesta a las solicitudes planteadas. Puede ejercer sus derechos de acceso, rectificación, supresión y portabilidad de sus datos, de limitación y oposición a su tratamiento, así como a no ser objeto de decisiones basadas únicamente en el tratamiento automatizado de sus datos, cuando procedan, en la dirección de correo electrónico info@cartuchea.com . Le recomendamos que lea la política de privacidad antes de proporcionarnos sus datos personales.</p>
                    <button type="submit">ENVIAR</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3>¡Oops! Tengo una duda. Algo no va bien o no funciona. ¿Hay alguien allí?</h3>
                        <p class="text-justify"> Por supuesto. En Cartuchea queremos escucharte y hemos desarrollado canales «humanos». Cuando tengas dudas, preguntas o problemas no te sentirás solo y podrás hablar con nuestro equipo humano cualificado. Desde dudas para realizar un pedido, preguntas sobre el estado del mismo o problemas para conseguir instalar un producto y dejarlo funcionando, te ayudaremos de persona a persona.</p>
                        <p class="text-justify"> Para ello dispones del canal WhatsApp disponible desde el sitio web: inmediato, fácil y cómodo para todos los que utilizamos ya ese tipo de mensajería.</p>
                        <p class="text-justify"> También cuentas con una línea de correo electrónico constantemente monitorizada y con un tiempo de respuesta de menos de 24 horas: ayuda@cartuchea.com</p>
                        <p class="text-justify">Y si eres de los que prefiere hablar en lugar de escribir ponemos a tu disposición nuestra línea de atención telefónica: 966 35 40 65 en horario de lunes-viernes de 09:00-20:00. </p>
                    </div>
                </div>
               
            </div>
        
        </div>
    </div>
</div>


