<header>
    <!-- header top start -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="top-content">
                    <div class="col-lg-6">
                        <div class="header-address">
                            <span>CARTUCHEA Y AHORRA</span>
                            
                        </div>
                        <div class="header-address">
                            <span>Hotline:</span>
                            <a href="tel:966354065"> 966 35 40 65</a>
                        </div>
                        <div class="header-address">
                            <span>Email:</span>
                            <a href="mailto:ayuda@cartuchea.com">ayuda(At)cartuchea.com</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header-menu">
                            <ul>
                                <li><a  [routerLink]="['/contactar']"> Contactar</a></li>
                                <li><a  [routerLink]="['/envios']"> Envíos</a></li>
                                <li><a  [routerLink]="['/terminos-y-condiciones']"> Términos y Condiciones</a></li>
                                <li><a [routerLink]="['/buscador-de-impresoras']">  Buscador de Impresoras</a></li>      
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->
    
    <!-- main header start -->
    <div class="main-header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <!-- logo start -->
                    <a href="/" class="logo"> <img src="/assets/img\logo_cartuchea.png" alt="Cartuchea" width="209" height="40"> </a>
                    <!-- logo end -->
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-lg-9 col-md-8 col-sm-8">
                            <!-- category bar start -->
                            <div class="catagory-bar">
                                <div class="header-search">
                                    <form action="#" method="GET">
                                        <input type="text" placeholder="Buscar por consumible o impresora...">
                                        <span>
                                        <select name="select" id="select">
                                            <option value="">Todas Las Categorías
                                            <option value="12">Fashion
                                            <option value="22">--Dresses
                                            <option value="26">---Sweater
                                            <option value="27">---Evening
                                            <option value="28">---Day
                                            <option value="29">---Sports
                                            <option value="23">--Handbags
                                            <option value="30">---Shoulder
                                            <option value="31">---Satchels
                                            <option value="32">---kids
                                            <option value="33">---coats
                                            <option value="24">--shoes
                                            <option value="34">---Ankle Boots
                                            <option value="35">---Clog sandals
                                            <option value="36">---run
                                            <option value="37">---Books
                                            <option value="25">--Clothing
                                            <option value="38">---Coats Jackets
                                            <option value="39">---Raincoats
                                            <option value="40">---Jackets
                                            <option value="41">---T-shirts
                                            <option value="13">Electronics
                                            <option value="42">--Laptops
                                            <option value="46">---Dell Laptops
                                            <option value="47">---HP Laptops
                                            <option value="48">---Lenovo Laptops
                                            <option value="49">---Apple Laptops
                                            <option value="43">--Camera
                                            <option value="50">---Digital Cameras
                                            <option value="51">---Camcorders
                                            <option value="52">---Photo Accessories
                                            <option value="53">---Memory Cards
                                            <option value="44">--Smart Phone
                                            <option value="54">---Apple Phones
                                            <option value="55">---Samsung Phones
                                            <option value="56">---Motorola Phones
                                            <option value="57">---Lenovo Phones
                                            <option value="45">--Television
                                            <option value="58">---All-in-One Computers
                                            <option value="59">---Towers Only
                                            <option value="60">---Refurbished Desktops
                                            <option value="61">---Gaming Desktops
                                            <option value="14">Furnitured & Decor
                                            <option value="62">--Chair
                                            <option value="65">---Dining room
                                            <option value="66">---bedroom
                                            <option value="67">--- Home & Office
                                            <option value="68">---living room
                                            <option value="63">--Lighting
                                            <option value="69">---Ceiling Lighting
                                            <option value="70">---Wall Lighting
                                            <option value="71">---Outdoor Lighting
                                            <option value="72">---Smart Lighting
                                            <option value="64">--Sofa
                                            <option value="73">---Fabric Sofas
                                            <option value="74">---Leather Sofas
                                            <option value="75">---Corner Sofas
                                            <option value="76">---Sofa Beds
                                            <option value="15">Jewelry & Watches
                                            <option value="16">Health & Beauty
                                            <option value="17">Books & Office
                                            <option value="18">Sport & Outdoor
                                            <option value="19">Smart phone & Tablets
                                            <option value="20">Computer - Laptop
                                            <option value="21">Accessories
                                            <option value="77">--Bags & Belts
                                            <option value="78">--Sunglasses & Readers
                                            <option value="79">--Socks & Tights
                                            <option value="80">--Scarves & Gloves
                                        </select>
                                        </span>
                                        <button type="submit">
                                            <i class="zmdi zmdi-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!-- category bar end -->
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                           
                            <div class="cart-area-menu">
                                <ul>
                                   
                                     
                                    <li><a id="cart"> <i class="zmdi zmdi-shopping-cart"></i><sup class="item">2</sup> $55.98</a></li>
                                    <li><a> <i class="zmdi zmdi-favorite-outline"></i><sup class="item">3</sup></a></li> 
                                    <li><a [routerLink]="['/mi-cuenta']"><i class="fa fa-user"></i> </a> </li>                                
                                </ul>
                            </div>
                            


                            <!-- total cart start -->
                            <div class="total-cart">
                                <!-- <a id="cart"><i class="zmdi zmdi-shopping-cart"></i><b class="price">2</b> $55.98</a>    
                                <a><i class="zmdi zmdi-favorite-outline"></i>3</a>    -->
                             
                                <!-- <div class="cart-button">
                                    <a id="cart"><i class="zmdi zmdi-shopping-cart"></i><b class="price">2</b> $55.98</a>    
                                    <a id="cart"><i class="zmdi zmdi-favorite-outline"></i>3</a>   
                                </div> -->
                               
                                <!-- <div class="cart-item">
                                    <div class="single-item">
                                        <div class="item-img">
                                            <a href="#">
                                                <img src="/assets/img\cart\item1.jpg" alt="" class="img-responsive"> 
                                            </a>
                                        </div>
                                        <div class="item-info">
                                            <a href="#" class="title"> <span> 1 x </span> Special sa...</a>
                                            <a href="#">S,</a>
                                            <a href="#"> Yellow</a>
                                            <span>$28.98</span> 
                                        </div>
                                    </div>
                                    <div class="single-item">
                                        <div class="item-img">
                                            <a href="#">
                                                <img src="/assets/img\cart\item2.jpg" alt="" class="img-responsive"> 
                                            </a>
                                        </div>
                                        <div class="item-info">
                                            <a href="#" class="title"> <span> 1 x </span>Skmei Luxu...</a>
                                            <a href="#">S,</a>
                                            <a href="#"> Yellow</a>
                                            <span>$27.00</span> 
                                        </div>
                                    </div>
                                    <div class="subtotal">
                                        <h3> Shipping: <span>$7.00</span> </h3>  
                                        <h3> Total: <span>$62.98</span> </h3>  
                                    </div>
                                    <div class="checkout">
                                        <a href="#"> check out <i class="fa fa-angle-right"></i> </a>   
                                    </div>
                                </div> -->
                            </div>
                            <!-- total cart end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main header end -->
    
    <!-- header bottom start -->
    <div id="sticker" class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- category menu start -->
                    <div class="catagory-menu hidden-sm hidden-xs">
                        <div class="catagory-heading">
                            <h2>Todas Las Categorías</h2>
                        </div>
                        <div class="catagory-list-menu hidden-menu">
                            <ul>
                                <li class="arrow"> <a href="#"> <img src="/assets/img\menu-icon\1.jpg" alt=""> fashion</a>
                                    <!-- category mega menu start -->
                                    <div class="c-mega-menu">
                                        <div class="block">
                                            <span>
                                                <a href="#">Dresses </a>
                                                <a href="#">Sweater</a>
                                                <a href="#">Evening</a>
                                                <a href="#">Day</a>
                                                <a href="#">Sports</a>
                                            </span>
                                            <span>
                                                <a href="#">Handbags </a>
                                                <a href="#">Shoulder</a>
                                                <a href="#">Satchels</a>
                                                <a href="#">kids</a>
                                                <a href="#">coats</a>
                                            </span> 
                                            <span>
                                                <a href="#">shoes</a>
                                                <a href="#">Ankle Boots</a>
                                                <a href="#">Clog sandals </a>
                                                <a href="#">run</a>
                                                <a href="#">Books</a>
                                            </span> 
                                            <span>
                                                <a href="#">Clothing</a>
                                                <a href="#">Coats  Jackets </a>
                                                <a href="#">Raincoats</a>
                                                <a href="#">Jackets</a>
                                                <a href="#">T-shirts</a>
                                            </span>
                                        </div>
                                        <div class="banner">
                                            <a href="#" class="banner-hover">
                                                <img src="/assets/img\banner\menu.jpg" alt="banner">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- category mega menu end -->
                                </li>
                                <li class="arrow"> <a href="#"> <img src="/assets/img\menu-icon\2.jpg" alt=""> Electronics</a>
                                    <!-- category mega menu start -->
                                    <div class="c-mega-menu">
                                        <div class="block">
                                            <span>
                                                <a href="#">Laptops </a>
                                                <a href="#">Dell Laptops</a>
                                                <a href="#">HP Laptops</a>
                                                <a href="#">Lenovo Laptops</a>
                                                <a href="#">Apple Laptops</a>
                                            </span>
                                            <span>
                                                <a href="#">Camera </a>
                                                <a href="#">Digital Cameras</a>
                                                <a href="#">Camcorders</a>
                                                <a href="#">Photo Accessories</a>
                                                <a href="#">Memory Cards</a>
                                            </span> 
                                            <span>
                                                <a href="#">Smart Phone</a>
                                                <a href="#">Apple Phones</a>
                                                <a href="#">Samsung Phones </a>
                                                <a href="#">Motorola Phones</a>
                                                <a href="#">Lenovo Phones</a>
                                            </span> 
                                            <span>
                                                <a href="#">Television</a>
                                                <a href="#">All-in-One Computers</a>
                                                <a href="#">Towers Only</a>
                                                <a href="#">Refurbished Desktops</a>
                                                <a href="#">Gaming Desktops</a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- category mega menu end -->
                                </li>
                                <li class="arrow"> <a href="#"> <img src="/assets/img\menu-icon\3.jpg" alt=""> Furnitured & Decor</a>
                                    <!-- category mega menu start -->
                                    <div class="c-mega-menu item-3">
                                        <div class="block">
                                            <span>
                                                <a href="#">Chair </a>
                                                <a href="#">Dining room</a>
                                                <a href="#">bedroom</a>
                                                <a href="#">Home & Office</a>
                                                <a href="#">living room</a>
                                            </span>
                                            <span>
                                                <a href="#">Lighting </a>
                                                <a href="#">Ceiling Lighting</a>
                                                <a href="#">Wall Lighting</a>
                                                <a href="#">Outdoor Lighting</a>
                                                <a href="#">Smart Lighting</a>
                                            </span> 
                                            <span>
                                                <a href="#">Sofa</a>
                                                <a href="#">Fabric Sofas</a>
                                                <a href="#">Leather Sofas </a>
                                                <a href="#">Corner Sofas</a>
                                                <a href="#">Sofa Beds</a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- category mega menu end -->
                                </li>
                                <li class="arrow"> <a href="#"> <img src="/assets/img\menu-icon\4.jpg" alt="">Accessories</a>
                                    <!-- category sub menu start -->
                                    <ul class="c-sub-menu">
                                        <li> <a href="#">Bags & Belts</a> </li>
                                        <li> <a href="#">Sunglasses & Readers</a> </li>
                                        <li> <a href="#">Socks & Tights</a> </li>
                                        <li> <a href="#">Scarves & Gloves</a> </li>
                                    </ul>
                                    <!-- category sub menu end -->
                                </li>
                                <li> <a href="#"> <img src="/assets/img\menu-icon\5.jpg" alt=""> Jewelry & Watches</a> </li>
                                <li> <a href="#"> <img src="/assets/img\menu-icon\6.jpg" alt=""> Health & Beauty</a> </li>
                                <li> <a href="#"> <img src="/assets/img\menu-icon\7.jpg" alt=""> Books & Office</a> </li>
                                <li> <a href="#"> <img src="/assets/img\menu-icon\8.jpg" alt=""> Sport & Outdoor</a> </li>
                                <li> <a href="#"> <img src="/assets/img\menu-icon\9.jpg" alt=""> Smart phone & Tablets</a> </li>
                                <li class="more-catagory"> <a href="#"> <i class="zmdi zmdi-plus-circle"></i> More Catagories</a> </li>
                                <li class="more-catagory-item"> <a href="#"> <img src="/assets/img\menu-icon\10.jpg" alt=""> Computer - Laptop</a> </li>
                                <li class="less-catagory"> <a href="#"> <i class="zmdi zmdi-minus-circle"></i> Less Catagories</a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- category menu end -->
                </div>
                <div class="col-md-9 text-right">
                    <div class="mainmenu hidden-xs">
                        <ul>
                            <li><a  [routerLink]="['/cartucheayahorra']">Programa «CARTUCHEA Y AHORRA»</a></li>
                            <li><a  [routerLink]="['/sobre-cartuchea']">Sobre Cartuchea</a></li>
                            <li><a  [routerLink]="['/blog']">Blog</a></li>
                        </ul>
                    </div>
                    <div id="mobileMenu"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- header bottom end -->

</header>


<div id="cartpanel" class="cartpanel">
          <div class="card">
            <div class="card-header">
                <h4 style="padding: 0px 15px;">Trolly <a href="javascript:void(0)" class="closebtn">&times;</a></h4>
                <hr/>
            </div>
            <div class="card-body">
                        <div class="cart-row">
                        <div class="cart-image">
                            <img src="/assets/img\cart\item1.jpg" alt="" class="img-responsive"> 
                        </div>
                        <div class="cart-product-title">
                            <p>This Product Title This Product TitleThis Product TitleThis</p>
                            <p>1x <span style="color: #36bd0d;">259.65</span></p>
                        </div>
                        <div class="cart-x-icon">
                           <button>&times;</button>
                        </div>
                    </div>
                  
                    <div class="cart-row">
                       <div class="cart-image">
                            <img src="/assets/img\cart\item2.jpg" alt="" class="img-responsive"> 
                        </div>
                        <div class="cart-product-title">
                            <p>This Product Title This Product TitleThis Product TitleThis</p>
                            <p>1x <span style="color: #36bd0d;">100.00</span></p>
                        </div>
                        <div class="cart-x-icon">
                           <button>&times;</button>
                        </div>
                    </div>


                </div>       
            <div style="position: fixed;bottom: 0; padding: 15px 30px;" class="cart-row">
                <hr/>

                <h4>SUBTOTAL (IVA INC.): 359.65</h4>
              <h2><a class="btn">Ver carrito</a></h2>  
               <h2> <a class="btn">Finalizar compra</a></h2>
            </div>   
        </div>
    </div>



