<div class="container-fluid bg-black mt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white text-center p-5">
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="breadcrumb-title text-white">MI CUENTA</h1>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i> INICIO</a></li>
                        <li class="active">MI CUENTA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="account-area mt-40">
    <div class="container">
        <div class="row mt-40 p-5 justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-6 p-3 ">
                <div id="register" *ngIf="isRegistrationDivVisible" class="card-border">
                    <h1 class="title">REGISTRARSE</h1>
                    <form action="">
                        <div class="mb-3">
                            <label for="email" class="form-label">Dirección de correo electrónico</label>
                            <input type="email" class="form-control rounded-input" id="email"
                                placeholder="Enter Email Address">
                        </div>

                        <div class="d-grid">
                            <p>Se enviará una contraseña a tu dirección de correo electrónico.</p>
                            <p>Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en
                                esta web, gestionar el acceso a tu cuenta y otros propósitos descritos en nuestra
                                <a [routerLink]="['/politica-de-privacidad']">política de privacidad.</a></p>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-green text-white">Registrarse</button>
                        </div>
                    </form>

                </div>
                <div id="login" *ngIf="!isRegistrationDivVisible" class="card-border">
                    <h1 class="title">ACCEDER</h1>
                    <form action="">
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de usuario o correo electrónico</label>
                            <input type="text" class="form-control rounded-input" id="username"
                                placeholder="Enter emploree name">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control rounded-input" id="password"
                                placeholder="Enter password">
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-green text-white">ENTRAR</button>
                        </div>
                    </form>
                    <div class="d-grid justify-content-end ">
                        <a class="p-3" [routerLink]="['/mi-cuenta/lost-password/']">¿No recuerdas tu contraseña?</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 p-3">

                <h1 class="text-center title">ACCEDER</h1>
                <p class="text-center">
                    Registrarse le permite acceder al estado y al historial de su pedido. También le permite
                    participar
                    en el Programa "Cartuchea y Ahorra" una vez haya gastado sus consumibles y recibir dinero por
                    sus
                    envases vacíos. Simplemente complete los campos a continuación y le configuraremos una nueva
                    cuenta
                    en poco tiempo. Solo le pediremos la información necesaria para que el proceso de compra sea más
                    rápido y sencillo.

                    <button (click)="toggleDivs()" 
                        class="mt-5 btn btn-green btn-label waves-effect waves-light rounded-pill text-white"><i
                            class="ri-user-smile-line label-icon align-middle rounded-pill fs-16 me-2"></i>
                            {{buttonText}}</button>
            </div>

        </div>
    </div>
</div>