<div class="container-fluid bg-black mt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white text-center p-5">
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="breadcrumb-title text-white">PROGRAMA «CARTUCHEA Y AHORRA»</h1>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i> INICIO</a></li>
                        <li class="active">PROGRAMA «CARTUCHEA Y AHORRA»</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <h2>CARTUCHEA Y AHORRA – PROGRAMA DE RECICLAJE DE CONSUMIBLES USADOS</h2>
                     <h3>Descripción</h3>  

<p class="text-justify">El programa «Cartuchea y Ahorra» pretende incentivar la sostenibilidad y el reciclaje de los consumibles usados. Para ello, Cartuchea recompensa a sus clientes con dinero directo en su cuenta de cliente por reciclar sus cartuchos de tinta y tóner una vez consumidos. De esta forma el precio de los consumibles es más económico por contribuir al reciclaje.</p>
<h3>Instrucciones</h3>  
<p class="text-justify"> 1) En la ficha de producto de la web figurará si el artículo es elegible para participar en el Programa «Cartuchea y Ahorra». Si es así, el artículo presentará un mensaje informativo con el importe en crédito que recibirá el cliente por ese artículo una vez recibida la devolución del consumible usado.</p>
<p class="text-justify">2) Para poder realizar una devolución de consumibles usados se deberán seguir las instrucciones del Programa «Cartuchea y Ahorra»: www.cartuchea.com/cartucheayahorra. </p>
<p class="text-justify">3) El cliente deberá iniciar sesión en su cuenta Cartuchea (es imprescindible haberse dado de alta en la web cuando se realiza el pedido para participar en el programa). Elegimos «Pedidos» y buscamos el número de pedido para realizar la solicitud. Pulsamos «Cartuchea y Ahorra» (es necesario que el pedido figure en estado «Completado» para que se muestre este botón en nuestro panel). </p>
<p class="text-justify">4) El sistema presentará un listado de consumibles comprados en la web y elegibles para participar en el programa «Cartuchea y Ahorra». </p>
<p class="text-justify"> 5) El cliente deberá seleccionar qué consumibles y qué cantidad quiere incluir en su devolución de consumibles usados respetando las siguientes indicaciones:</p>
<p class="text-justify"> > Para cartuchos de tinta con cabezal de impresión el número mínimo de unidades usadas para realizar la devolución será de dos cartuchos (se pueden combinar modelos negro y/o tricolor). No hay número máximo.</p>
<p class="text-justify"> > Para cartuchos de tinta sin cabezal de impresión (cartuchos negro, cian, magenta y amarillo separados) el número mínimo de unidades usadas para realizar la devolución será de cuatro cartuchos (se pueden combinar colores). No hay número máximo.</p>
<p class="text-justify"> > Para tóners monocromo o color el número mínimo de unidades usadas para realizar la devolución será de tres tóners (se pueden combinar colores). No hay número máximo.</p>
<p class="text-justify"> 6) Los consumibles deben ser colocados convenientemente en la bolsita recibida con el pedido para evitar desparrame de tinta, y esta cerrada e introducida en la caja Cartuchea recibida con los consumibles o en cualquier otra que el cliente considere.</p>
<p class="text-justify"> 7) Una vez aceptada la devolución de consumibles usados por Cartuchea el cliente recibirá una etiqueta de devolución que deberá imprimir y pegar en la caja.</p>
<p class="text-justify"> 8) El cliente deberá solicitar la recogida de la caja de consumibles usados a través de los siguientes canales:</p>
<p class="text-justify"> > Teléfono: 966 35 40 65</p>
<p class="text-justify"> > Whatsapp: 644 913 812</p>
<p class="text-justify"> > Email: cartucheayahorra@cartuchea.com</p>
<p class="text-justify"> 9) Un transportista acudirá al domicilio del cliente a recoger su caja de consumibles usados a la fecha y hora convenida con el cliente.</p>
<p class="text-justify">10) Una vez recibidos los consumibles usados en Cartuchea nuestro equipo técnico evaluará las condiciones de los mismos y procederá a realizar el crédito en la cuenta del cliente para gastar en sus próximas compras de consumibles Cartuchea (este crédito no tiene fecha límite de uso). El cliente será informado puntualmente a través de su correo electrónico. </p>
                    </div>
                </div>
               
            </div>
            <div class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 sm-mt-30 xs-mt-30">
                <!-- sidebar start -->
                <div class="sidebar">
                    <!-- categories start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">categories</h3>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="dresses" id="dresses">
                            <label for="dresses">dresses (9)</label>
                        </div>
                        <div class="input-box">                                
                            <input type="checkbox" name="category" value="handbags" id="handbags"> 
                            <label for="handbags">handbags (9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="shoes" id="shoes"> 
                            <label for="shoes">shoes (9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="clothing" id="clothing"> 
                            <label for="clothing">clothing (9)</label>
                        </div>
                    </div>
                    <!-- categories end -->

                    <!-- Availability start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Availability</h3>
                        <div class="input-box">
                            <input type="checkbox" name="instock" value="instock" id="stock"> 
                            <label for="stock">in stock (9)</label>
                        </div>
                    </div>
                    <!-- Availability end -->

                    <!-- conditions start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">conditions</h3>
                        <div class="input-box">  
                            <input type="checkbox" name="new" value="new" id="new">
                            <label for="new"> new (9)</label>
                        </div>
                    </div>
                    <!-- conditions end -->

                    <!-- Manufacturer start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Manufacturer</h3>
                        <div class="input-box">
                            <input type="checkbox" name="FashionManufacturer" value="FashionManufacturer" id="manufac"> 
                            <label for="manufac">Fashion Manufacturer (9)</label>
                        </div>
                    </div>
                    <!-- Manufacturer end -->

                    <!-- Price start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Price</h3>
                        <div class="price-slider-amount">
                            Range: <input type="text" id="amount" name="price" placeholder="Add Your Price">
                        </div>
                        <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>
                    </div>
                    <!-- Price end -->

                    <!-- size start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">size</h3>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="small" id="small">
                            <label for="small"> s(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="medium" id="medium">
                            <label for="medium"> m(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="large" id="large">
                            <label for="large">l(9)</label>
                        </div>
                    </div>
                    <!-- size end -->

                    <!-- color start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">color</h3>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="black" id="black">
                            <label for="black">black(5)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="orange" id="orange">
                            <label for="orange">orange(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="blue" id="blue">
                            <label for="blue">blue(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="yellow" id="yellow">
                            <label for="yellow"> yellow(5)</label>
                        </div>
                    </div>
                    <!-- color end -->
                </div>
                <!-- sidebar end -->

                <!-- top seller items start -->
                <div class="row">
                    <div class="col-md-12 mt-40">
                        <!-- section title start -->
                        <div class="section-heading">
                            <h2> <img src="img\icon\icon_title_topseller.png" alt=""> top seller</h2>
                        </div>
                        <!-- section title start -->
                        <!-- new arrival start -->
                        <div class="new-arrival-items style-2 grey-bordered mt-30 owl-carousel owl-theme owl-loaded owl-text-select-on">

                            <!-- list items start -->
                            
                            <!-- list items start -->

                            <!-- list items start -->
                            
                            <!-- list items start -->

                            <!-- list items start -->
                            
                            <!-- list items start -->

                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-536px, 0px, 0px); transition: all 0s ease 0s; width: 1876px;"><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\42.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\48.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\37.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\21.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item active" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\1.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\2.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\35.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\23.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\42.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\48.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\37.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\21.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\1.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\2.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\35.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\23.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
                        <!-- new arrival end -->
                    </div>
                </div>
                <!-- top seller items end -->
            </div>
        </div>
    </div>
</div>

