
<div class="mt-5 p-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="title-container">QUIÉNES SOMOS</h1>
                        <p class="text-justify"> Nacimos con el reto de demostrar que no es necesario producir plástico sin ningún tipo de límite. Que en el mundo de los consumibles de impresión hay mucho trabajo que hacer y mucho potencial para reducir residuos.</p>
                        <p class="text-justify"> Somos un equipo humano que lleva más de seis años dedicado y especializado exclusivamente en este segmento para conseguir alcanzar este objetivo.</p>
                        <p class="text-justify">Además, nos encanta recompensar a los clientes que comparten nuestra visión y colaboran para conseguirla. Y al final ¡quien Cartuchea Ahorra!</p>
                    </div>
                </div>
               
            </div>
        
        </div>
    </div>
</div>

