<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
             
                    <h1>Envíos</h1>
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i> INICIO</a></li>
                        <li class="active">Envíos</li>
                      </ol>
                </div>
        </div>
    </div>
</div>

<div class="pt-40">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-justify"> A todos nos duele que los gastos de envío no sean gratuitos, pero ¿te has parado a pensar qué vale una hora de tu tiempo para desplazarte a cualquier tienda de la ciudad? ¿Y la comodidad de que te lo dejen en casa o donde tú prefieras?</p>
                        <p class="text-justify"> Cualquier empresa que no cobra los gastos de envío de forma directa y honesta al cliente lo hace a través de un mayor precio (ningún transportista trabaja gratis 😊).</p>
                        <p class="text-justify">En Cartuchea intentamos que el coste del envío impacte de la menor manera posible a nuestros clientes. Por eso ofrecemos envíos gratuitos para importes iguales o superiores a 29€ (los transportistas cobran igual por los pedidos «pequeños»). Un par de cartuchos con cabezal hacen ya ese importe. ¡Y no pagamos nada por la comodidad de que nos lo traigan a casa en 24 horas! ¡Y sin que el precio de los artículos sea más alto para poder compensar el envío! Si aún así tienes «poco» que pedir ofrecemos una reducida tarifa de envío express por 3,99€ (IVA incluido) con la que no tendrás que gastar más de lo necesario. En definitiva, intentamos que salgas ganando pidas lo que pidas. Y ese es el objetivo que nos mueve: que puedas imprimir al mejor precio (… y reciclando 😊). </p>
                    </div>
                </div>
               
            </div>
            <div class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 sm-mt-30 xs-mt-30">
                <!-- sidebar start -->
                <div class="sidebar">
                    <!-- categories start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">categories</h3>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="dresses" id="dresses">
                            <label for="dresses">dresses (9)</label>
                        </div>
                        <div class="input-box">                                
                            <input type="checkbox" name="category" value="handbags" id="handbags"> 
                            <label for="handbags">handbags (9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="shoes" id="shoes"> 
                            <label for="shoes">shoes (9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="category" value="clothing" id="clothing"> 
                            <label for="clothing">clothing (9)</label>
                        </div>
                    </div>
                    <!-- categories end -->

                    <!-- Availability start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Availability</h3>
                        <div class="input-box">
                            <input type="checkbox" name="instock" value="instock" id="stock"> 
                            <label for="stock">in stock (9)</label>
                        </div>
                    </div>
                    <!-- Availability end -->

                    <!-- conditions start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">conditions</h3>
                        <div class="input-box">  
                            <input type="checkbox" name="new" value="new" id="new">
                            <label for="new"> new (9)</label>
                        </div>
                    </div>
                    <!-- conditions end -->

                    <!-- Manufacturer start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Manufacturer</h3>
                        <div class="input-box">
                            <input type="checkbox" name="FashionManufacturer" value="FashionManufacturer" id="manufac"> 
                            <label for="manufac">Fashion Manufacturer (9)</label>
                        </div>
                    </div>
                    <!-- Manufacturer end -->

                    <!-- Price start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Price</h3>
                        <div class="price-slider-amount">
                            Range: <input type="text" id="amount" name="price" placeholder="Add Your Price">
                        </div>
                        <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>
                    </div>
                    <!-- Price end -->

                    <!-- size start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">size</h3>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="small" id="small">
                            <label for="small"> s(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="medium" id="medium">
                            <label for="medium"> m(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="size" value="large" id="large">
                            <label for="large">l(9)</label>
                        </div>
                    </div>
                    <!-- size end -->

                    <!-- color start -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">color</h3>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="black" id="black">
                            <label for="black">black(5)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="orange" id="orange">
                            <label for="orange">orange(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="blue" id="blue">
                            <label for="blue">blue(9)</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="color" value="yellow" id="yellow">
                            <label for="yellow"> yellow(5)</label>
                        </div>
                    </div>
                    <!-- color end -->
                </div>
                <!-- sidebar end -->

                <!-- top seller items start -->
                <div class="row">
                    <div class="col-md-12 mt-40">
                        <!-- section title start -->
                        <div class="section-heading">
                            <h2> <img src="img\icon\icon_title_topseller.png" alt=""> top seller</h2>
                        </div>
                        <!-- section title start -->
                        <!-- new arrival start -->
                        <div class="new-arrival-items style-2 grey-bordered mt-30 owl-carousel owl-theme owl-loaded owl-text-select-on">

                            <!-- list items start -->
                            
                            <!-- list items start -->

                            <!-- list items start -->
                            
                            <!-- list items start -->

                            <!-- list items start -->
                            
                            <!-- list items start -->

                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-536px, 0px, 0px); transition: all 0s ease 0s; width: 1876px;"><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\42.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\48.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\37.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\21.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item active" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\1.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\2.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\35.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\23.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\42.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\48.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\37.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\21.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\1.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\2.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\35.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\23.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div><div class="owl-item cloned" style="width: 268px; margin-right: 0px;"><div class="list-items">
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\12.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">10FT Paracord 7 Strand Parachute Cord...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $50.78 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\45.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Butterfly Mid-Century Dining Chair...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $20.71 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\46.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                                <!-- single product item start -->
                                <div class="single-product-item floating">
                                    <a href="product-details.htm" class="item-img">
                                        <img src="img\products\24.jpg" alt="">
                                    </a>
                                    <div class="item-info">
                                        <h2><a href="product-details.htm" class="item-title">Customized 19Inch Computer Screen...</a></h2>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h3 class="item-price"> $30.98 </h3>
                                    </div>
                                </div>
                                <!-- single product item end -->
                            </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
                        <!-- new arrival end -->
                    </div>
                </div>
                <!-- top seller items end -->
            </div>
        </div>
    </div>
</div>

